.UserProfile{
background-color: white;
width: 30%;
min-height: 70vh;
margin: 5% auto;
border-radius: 1rem;
box-shadow: 0 10px 20px rgba(0,0,0,.2);

}
.Userprofile_content{
    padding: 3%;
}
.user_heading{
    text-align: center;
}
.user_details{
    padding: 2%;
}
.profile_heading{
    display: inline;
}
h2{
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 1%;
}